/* THEME VARIABLES */
:root {
  --bg-main: #f7e9ea;
  --bg-buttons: #FBC5C5;
  --bg-display: #faf6f6;
  --text-main: #3f2b2e;
  --border-color: #62405B;
}

.dark {
  --bg-main: #1e1e2e;
  --bg-buttons: #2a2a3d;
  --bg-display: #252538;
  --text-main: #eaeaf0;
  --border-color: #44446a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #efecec;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, sans-serif;
}

.calculator {
    width: 370px;
    background: var(--bg-main);
    border-radius: 22px;
    border: 3px solid var(--border-color);
    box-shadow: 10px 10px 0 var(--border-color);
    overflow: hidden;
}

.header {
    display: flex;
    height: 50px;
    border-bottom: 3px solid var(--border-color);
}

.header-left-section,
.header-right-section {
    background: #FF7980;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 15px;
}

.header-left-section {
    border-right: 3px solid var(--border-color);
}

.header-right-section {
    border-left: 3px solid var(--border-color);
}

.logo-icon {
    height: 28px;
}

.header-center {
    flex: 1;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.cal-icon {
    height: 20px;
}

.title {
    flex: 1;
    font-weight: 600;
    color: #4A3944;
}

.window-btn {
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
}

.display {
    background: var(--bg-display);
    padding: 22px;
    text-align: right;
    min-height: 110px;
    color: var(--text-main);
}

.result {
    font-size: 48px;
    font-weight: 700;
}

.expression {
    font-size: 12px;
    opacity: 0.7;
}

.buttons {
    background: var(--bg-buttons);
    padding: 18px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
}

.btn {
    height: 56px;
    background: #fff6f6;
    border: 3px solid var(--border-color);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-main);
    cursor: pointer;
    box-shadow: 3px 3px 0 var(--border-color);
}

.result-btn {
    grid-column: span 2;
}
